.suggestionBox {
    border-color: black;
    border-width: 10px;
    box-shadow: 0 0 2px 1px black;
    background-color: #c5aaaa;
    display: inline-block;
    padding: 10px;
    z-index: 2;
}

.highlight {
    background-color: darkslateblue;
}